<html lang="en-US">
<head>
    <title>Survey Analysis</title>
</head>

<body>
    <h1>Survey Analysis</h1>
    <h2>Why did they visit the website?</h2>
    <ul>
    <% for (var i=0; i<results[0].length; i++){ %>
        <li><%= results[0][i].why_visit %> :  <%= results[0][i].count %></li>
    <% } %>    
    </ul>
    
    <h2>Were they able to accomplish their task?</h2>
    <ul>
    <% for (var i=0; i<results[1].length; i++){ %>
        <li><%= results[1][i].accomplish %> :  <%= results[1][i].count %></li>
    <% } %>    
    </ul>
    
    <h2>How often do they visit the website?</h2>
    <ul>
    <% for (var i=0; i<results[2].length; i++){ %>
        <li><%= results[2][i].often_visit %> :  <%= results[2][i].count %></li>
    <% } %>    
    </ul>
    
    <h2>Statements that apply to customers:</h2>
    <ul>
    <% for (var i=0; i<results[3].length; i++){ %>
        <li><%= results[3][i].select_statement %> :  <%= results[3][i].count %></li>
    <% } %>    
    </ul>
    
    <h2>Will they recommend this website to others?</h2>
    <ul>
    <% for (var i=0; i<results[4].length; i++){ %>
        <li><%= results[4][i].recommendation %> :  <%= results[4][i].count %></li>
    <% } %>    
    </ul>
    
    <h2>Comments:</h2>
    <ul>
    <% for (var i=0; i<results[5].length; i++){ %>
        <li><%= results[5][i].comments %> :  <%= results[5][i].count %></li>
    <% } %>    
    </ul>
</body>
</html>
